.App {
  text-align: center;
}

.yellow-bootstrap-words {
 position: absolute;
 left:10%;
 text-decoration: none;
 font-size: 20px;
 padding-top: 5px;
 padding-bottom: 5px;
 font-family:  'Kaushan Script', cursive;
 color: #FED136;
 padding-right: 45rem;
 padding-top: 1rem;

}

nav ul {
  display: flex; 
  flex-direction: row;
  justify-content:flex-end;
  list-style: none;
  border: 1px solid black;
  background-color: #212529;
  color: white;
  
  
}

.navtop {
  position: fixed;
  width: 100%;

}

nav ul li {
  padding: 30px;
}

.menu-button {
  display: none;
  
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media(max-width:991px) {

  .menu-button {
  display: block; 
  }

  nav ul li {
    display: none;
  }

}
